<h2 class="title is-2 m-5">All Destinations</h1>
<ul class="m-5">
  <% @destinations.each do |destination| %>
    <li>
      <%= link_to destination.name, destination_path(destination) %>
    </li>
  <% end %>
</ul>