<h2 class="title is-3"><%= @destination.name%></h2>
<p><span class="has-text-weight-bold">Location:</span> <%= @destination.location %></p>
<p><span class="has-text-weight-bold">Description:</span> <%= @destination.description %></p>
<%= link_to "Back to Destinations", destinations_path %>
