<h1>All Reviews</h1>
  <ol class="ml-5">
    <% @reviews.each do |review| %>
      <li>
        <strong><%= link_to review.trip.destination.name, review %></strong> 
          - Rated: <%= review.rating %> ⭐
      </li>
    <% end %>
  </ol>