<h3>Reviews</h3>
<ul>
  <% @trip.reviews.each do |review| %>
    <li>
      <strong><%= review.user.first_name %>:</strong> 
      <%= review.rating %> ⭐ - <%= review.comment %>
    </li>
  <% end %>
</ul>